* {
    margin: 0;
    padding: 0;
    /* border: 1px solid; */
    font-family: "Poppins", sans-serif;
    color: hsl(232, 12%, 34%);
}

html {
    background-color: hsl(0, 0%, 98%);
    ;
}

body {
    padding: 2rem;
    font-size: 15px;
}

.head-card {
    letter-spacing: 0.1px;
    text-align: center;
    margin-top: 5.67rem;
    margin-bottom: 5.067rem;
}

.head-title {
    margin-bottom: 0.9375rem;
    letter-spacing: 0.17px;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

h2 {
    font-weight: 200;
    font-size: 1.5rem;
}

/* Styles for main-card */

svg {
    width: 3.8rem;
    height: 3.8rem;
}

.supervisor {
    border-top: 3.55px solid hsl(180, 62%, 55%);
    border-radius: 3.55px;
}