* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    color: hsl(232, 12%, 34%);
}

html {
    background-color: hsl(0, 0%, 98%);
    padding: 4.75rem 0 4.75rem 0;
}

body {
    padding: 2rem;
    font-size: 15px;
}

/* Styles for head-card */

.head-card {
    letter-spacing: 0.1px;
    text-align: center;
    margin-bottom: 5rem;
}

.head-title {
    margin-bottom: 0.9375rem;
    letter-spacing: 0.17px;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

h2 {
    font-weight: 200;
    font-size: 1.5rem;
}

/* Styles for main-card */

.main-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
}

.main-card section {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 8px 8px -4px hsl(229, 6%, 66%);
    padding: 1.75rem;
}

h3 {
    font-weight: 600;
    font-size: 1.25rem;
}

.main-card section p {
    font-size: .8125rem;
    letter-spacing: 0.09px;
    line-height: 1.4375rem;
    margin-bottom: 2rem;
}

svg {
    float: right;
}

.supervisor {
    border-top: 3.55px solid hsl(180, 62%, 55%);
}